div.rdmImg {
    position: fixed;
    left: 45%;
    width: 64px;
    height: 64px;
    background-image: url("src/assets/pizza/pizza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    filter: blur(2px);
}

#one {
    animation: 30s one infinite;
}

#two {
    animation: 30s two infinite;
}

#three {
    animation: 30s three infinite;
}

#four {
    animation: 30s four infinite;
}

#five {
    animation: 30s five infinite;
}

@keyframes one {
    0% {
        top: -50%;
        left: 45%;
    }
    50% {
        top: 100%;
        left: 80%;
    }
    100% {
        top: 0%;
        left: 45%;
    }
}

@keyframes two {
    0% {
        top: 0%;
        left: 0%;
    }
    50% {
        top: 50%;
        left: 80%;
    }
    100% {
        top: 0%;
        left: 100%;
    }
}

@keyframes three {
    0% {
        bottom: -20%;
        left: 75%;
    }
    50% {
        bottom: 100%;
        left: 80%;
    }
    100% {
        bottom: 0%;
        left: 45%;
    }
}

@keyframes four {
    0% {
        top: -50%;
        right: 45%;
    }
    50% {
        top: 100%;
        right: 80%;
    }
    100% {
        top: 0%;
        right: 45%;
    }
}

@keyframes five {
    0% {
        bottom: -50%;
        right: 45%;
    }
    50% {
        bottom: 100%;
        right: 80%;
    }
    100% {
        bottom: 0%;
        right: 45%;
    }
}

@keyframes balade {
    0% {
        top: -50%;
        left: 45%;
    }
    50% {
        top: 100%;
        left: 80%;
    }
    100% {
        top: 0%;
        left: 45%;
    }
}
